{% extends 'adminindex.html' %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="mt-5 mb-5"></div>
    <br><br>
    <h4 class="text-center text-dark mt-5">Agency List</h4>
    {% for message in messages  %}
    <h6 style="color:red">{{message}}</h6>   
{% endfor %}

    <table class="table">
        <tr>
            <th>Agency Name</th>
            <th>Agency Email</th>
            <th>Last Login</th>
            <th>Action</th>
        </tr>
        {% for com in agency %}
        <tr>
            <td>{{com.first_name}}</td>
            <td>{{com.email}}</td>
            <td>{{com.last_login}}</td>
            <td><a href="{%url 'DeleteAgency' com.id %}" class="btn btn-danger btn-sm">delele</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}