{% extends 'agencyindex.html '%}
{% block content %}



<div class="container mt-5 mb-5">
    <br><br>
    <h1>Customer Booking...</h1>
    {% for message in messages  %}
    <h6 style="color:red">{{message}}</h6>
        
    {% endfor %}
    <!-- <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning btn-sm" ><i class="bi bi-plus"></i> Request Stock</button> -->
    <br><br>
    <table class="table">
        <tr>
            <th>Gas</th>
            <th>Stock</th>
            <th>Booked Date</th>
            <th>Customer</th>
            <th>Approval</th>
            <th>Status</th>
            <th>Update</th>
            <th>Deliverd Date</th>
        </tr>
        {% for g in gas %}
        <tr>
            <th>{{g.Gas}}</th>
            
            <th>{{g.Gas.stock}}</th>
            <th>{{g.requested_date}}</th>
            <td>{{g.user}}</td>
            <th>
                {% if g.approval_status == True %}
                <span class="badge bg-success">Approved</span>
                {% else %}
                <span class="badge bg-warning">Pending....</span>
                <a href="{%url 'ApproveBooking' g.id %}" class="btn btn-warning btn-sm">Approve</a>
                {% endif %}
            </th>
            <td>{{g.status}}</td>
            <th>
                {% if g.approval_status == True %}
                {% if g.deliverydate == None %}
                <form action="{%url 'UpdateStatus' g.id %}" method="post">
                    {% csrf_token %}
                    <select name="status" id="" required>
                        <option value="" disabled selected>--------------</option>
                        <option value="Preparing">Prepairing</option>
                        <option value="Despached">Despached</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                    <button type="submit" style="border: .5px solid green;color:white; background-color: lightgreen;">Update</button>
                </form>
                {% endif %}
                {% else %}

                {% endif %}

            </th>
            <td>{{g.deliverydate}}</td>
        </tr>
        {% endfor %}
    </table>
</div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-info fs-5" id="exampleModalLabel">Add A cylinder</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form  method="post">
            
                {% csrf_token %}
            
                {% for field in form %}
                {{field.label}} <br>
                {{field}}
    
                {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
      </div>
    </div>
  </div>



{% endblock %}